# Home Assistant
homeassistant>=2025.1
numpy
PyTurboJPEG

# Integration
aiohttp # should already be installed with Home Assistant
aiomqtt # asyncio MQTT client
cryptography # should already be installed with Home Assistant

# Development
colorlog
pip>=26.1.1
pre-commit
ruff